@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

:root {
  --header-bg: #262626;
  --dark-bg: url(media/dark-bg.png);
  --light-bg: url(media/light-bg.jpg);
}

body {
  margin: 0px; 
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 75px;
}

header {  
  background-color: var(--header-bg);
  padding: 25px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.title {
  font: 42px "Oswald", sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
}
  .title a, .title:link, .title:hover, .title:visited,
  .nav-link a, .nav-link:link, .nav-link:hover, .nav-link:visited {
    color: white;
  }

.nav-link {
  font: 16px "Roboto", sans-serif;
  letter-spacing: 1px;
  color: white;
}

.sliding-underline {
  display: inline-block;
  position: relative;
}
  .sliding-underline::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
  }
  .sliding-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.header-menu {
  gap: 40px;
}

.hidden {
  display: none !important;
}

.opaque-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 15;
  position: fixed;
}

.sidebar-menu {
  background-color: white;
  width: 45vw;
  height: 100vh;
  padding: 30px 40px;
  top: 0px;
  right: 0px;
  z-index: 100;
  position: fixed;
}
  .close-symbol {
    color: black;
    cursor: pointer;
    float: right;
  }
  .sidebar-menu .nav-link {
    font-size: 20px;
    display: flex;
    margin: 25px 0px 25px;
  }
  .sidebar-menu .social-media {
    padding: 25px 0px;
    gap: 30px;
  }
  .sidebar-menu .social-media .fa-brands {
    font-size: 34px;
  }
  .sidebar-menu a, .sidebar-menu a:link, .sidebar-menu a:hover, .sidebar-menu a:visited {
    color: black;
  }
  .sidebar-menu .sliding-underline::after {
    background-color: black;
  }

.main {
  background-color: white;
  color: black;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-img {
  width: 425px;
  height: 100%;
  flex-shrink: 0;
}
  .main-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

.main-text {
  font-family: "Open Sans", sans-serif;
  margin: 75px;
}
  .main-text h1 {
    font: 75px "Playfair Display", serif;
    margin: 0px;
  }
  .main-text h2 {
    margin: 15px 0px;
  }
  .main-text h3, .phonetic {
    font-weight: 400;
  }
  .main-text ol, .main-text h2, .defintion h3 {
    color: rgb(62, 70, 79);
  }
  .main-text li::marker {
    font-weight: 600;
  }

.pronounciation {
  gap: 10px;
}

.fa-volume-high {
  cursor: pointer;
  color: rgb(62, 59, 59);
}
  .fa-volume-high:hover {
    color: rgb(137, 136, 136); 
  }
  .fa-volume-high:active {
    color: rgb(62, 59, 59);
  }

.sentence {
  color: gray;
  font-style: italic;
  border-left: 2px solid lightgray;
  padding-left: 15px;
  line-height: 1.5;
}

.about {
  background-image: var(--dark-bg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white; 
  padding: 90px 75px;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
}
  .about p {
    width: 900px;
    font-size: 20px;
    line-height: 1.5;
  }
  .about img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 150px;
    margin: 40px;
  }

.quote {
  color: lightblue;
  font: 38px "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

.skills {
  background-image: var(--light-bg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
  .skills .card {
    width: 300px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2); 
    text-align: center;
    display: flex;          
    flex-direction: column; 
  }
  .skills h4 {
    text-align: left;
    font-style: italic;
  }

.section-title {
  color: rgb(30, 30, 73);
  font: 50px "Playfair Display", serif;
  font-weight: 800;
  margin-bottom: 45px;
  text-align: center;
}

.card-grid {
  max-width: 1200px;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin: 0px auto;
  justify-content: center;
}
.card {
  border-radius: 10px;
  margin: 50px;
  overflow: hidden;
}
  .card h4 {
    font-weight: 300; 
    line-height: 1.5;
  }
.card-header {
  background-color: var(--header-bg);  
  justify-content: center;
  color: white; 
  padding: 25px;
}
.card-content {
  background-color: white;
  color: slategray;  
  padding: 25px; 
  flex: 1;  /* To keep card content the same height */
}

.skills .carousel {
  display: none !important;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 75px 0px;
}

.view-btn {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  border-radius: 30px;
  border-style: none;
  padding: 20px 28px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 12px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
  .view-btn:hover {
    transform: translateY(-4px);
  }

.fa-solid {
  font-size: 22px;
}

.btn-light {
  background-color: rgba(255, 255, 255, 0.9);
	color: rgba(14, 65, 216, 0.7);
  border: 2px solid rgba(14, 65, 216, 0.7);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}
  .btn-light:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

.btn-dark {
  background-color: rgba(255, 255, 255, 0.5);
	color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
  .btn-dark:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }

.gradient-divider {
  padding: 15px;
  border-bottom: 1.5px solid;
  border-image: conic-gradient(yellow, violet, lightblue) 1; 
}

.divided-list h3 {
  margin: 5px;
  padding: 15px;
  border-bottom: 1.5px solid;
  border-image: conic-gradient(yellow, violet, lightblue) 1; 
}
  .divided-list h3:first-child {
    margin: 0px;
  }
  .divided-list h3:last-child {
    border: none;
  }

.fa-star {
  font-size: 20px;
  color: gold;
  margin: 5px; 
}

.social-media {
  gap: 25px; 
}
  .social-media .fa-brands {
    font-size: 30px;
  }
  .social-media a, a:link {
    text-decoration: none;
  }
  .social-media a:hover .hover-show {
    display: inline-block; 
  }
  .social-media a:hover .hover-hidden, 
  .social-media a .hover-show {
    display: none; 
  }
   
footer {
  display: flex;
  background-color: var(--header-bg);
  color: white;
  padding: 10px 50px;
  align-items: center;
  justify-content: space-between;
}
  footer i {
    font-size: 24px;
  }
  footer a, footer a:link, footer a:hover, footer a:visited {
    color: white;
  }
  footer p {
    font-size: 18px;
  }

.portfolio {
  background-image: var(--light-bg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio .card {
  width: 700px;
  border: solid 1px rgb(160, 160, 160);
  position: relative;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
  .portfolio .card:hover, .card:visited {
    box-shadow: 20px 20px rgba(161, 196, 202, 0.5);
    transform: translateY(-8px);
    cursor: pointer;
  }

.portfolio .card-header h2 {
  margin: 0px;
  padding-left: 70px;
  padding-top: 8px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.portfolio .card-content {
  padding: 35px 40px;
}
  .portfolio .card-content h3 {
    margin: 10px;
    text-align: center;
  }
  .portfolio .card-content h4 {
    font-size: 17px;
  }

.thumbnail {
  display: flex;
  justify-content: center;
}

.thumbnail img:not(#utkPreview) {
  width: 100%;
  max-width: 1300px;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border: 1.5px solid lightgray;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgb(226, 224, 224); 
  margin: 30px;
}

#utkPreview {
  width: 300px;
  height: auto;
  border: 1.5px solid lightgray;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgb(226, 224, 224); 
  margin: 30px;
}

.inline-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.window-buttons {
  left: 15px;
  position: absolute;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.circle-tags-list {
  gap: 10px;
}
.circle-tag {
  gap: 0px;
}
  .circle-tag h4 {
    margin: 10px;
  }

.circle {
  width: 13px; 
  height: 13px; 
  border-radius: 50%;
  display: inline-block;
}

.red-bg {
  background-color: #ff605c;
}
.yellow-bg {
  background-color: #ffbd44;
}
.green-bg {
  background-color: #00ca4e; 
}
.blue-bg {
  background-color: #5fcbe1;
}
.orange-bg {
  background-color: orange; 
}
.pink-bg {
  background-color: hotpink; 
}
.purple-bg {
  background-color: violet; 
}
.indigo-bg {
  background-color: #333366;
}

.project-overview {
  display: flex;
  align-items: center;
}
  .project-overview .main-text h1 {
    margin-top: 50px; 
  }
  .project-overview .main-text h2 {
    margin-top: 60px;
  }
  .project-overview .main-text p {
    color: rgb(62, 70, 79);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
  }
  .project-overview .thumbnail {
    margin-right: 50px;
    max-width: 55%;
    flex-shrink: 1;
  }

.modal {
  width: 80%;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
  .modal img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    object-fit: contain;
  }
  .modal .close-symbol {
    color: white;
    cursor: pointer;
    margin: 25px 0px;
    z-index: 25;
  }
  .modal .close-symbol:hover {
    color: rgb(193, 193, 193);
  }

.subheading {
  color: gray;
  font-style: italic;
  line-height: 1.5;
}

.hover-shift img:hover { 
  transform: translateY(-8px); 
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

.project-details {
  background-image: var(--dark-bg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
  .project-details h1 {
    font-size: 38px;
    margin: 60px 0px;
  }
  .project-details h2 {
    color: rgb(194, 155, 211);    
    font: 25px "Playfair Display", serif;
    font-weight: 600;
    margin: 55px 15px 15px;
  }
  .project-details p {
    width: 80%;
    font-size: 18px;
    margin-left: 15px;
    line-height: 1.5;
  }

.text-highlight {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2px 5px;
  border-radius: 3px;
}
  .text-hightlight a, .text-highlight a:link, .text-highlight a:hover, .text-highlight a:visited {
    color: white;
    text-decoration: underline;
  }
  .text-highlight:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

.tech-stack {
  display: flex;
  justify-content: center;
}

table {
  font-size: 20px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: show;
  overflow: hidden;
  margin: 25px 50px 50px;
}
  th {
    background-color: #e0413d;
    color: #FFFFFF;
  }
  th, td {
    padding: 18px 40px;
    border: 1px solid rgb(127, 114, 114);
  }
  th:nth-child(1) {
    background-color: rgb(224, 140, 154);
  }
  th:nth-child(2) {
    background-color: rgba(125, 175, 125, 0.9);
  }
  th:nth-child(3) {
    background-color: rgb(127, 127, 230, 0.9);
  }
  tr {
    background-color: rgba(255, 255, 255, 0.2);
  }
  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.3);
  }
  tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }
  tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

.project-details .carousel {
  margin: 100px; 
  background: rgba(255, 255, 255, 0.9);
}
  .project-details .carousel-cell {
    margin-right: 20px;
    overflow: hidden;
  }
  .project-details .carousel-cell img {
    display: block;
    height: 500px;
  } 
  .project-details .is-selected img:hover {
    cursor: pointer;
  }

.poster {
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
}
  .poster img {
    width: 600px;
    height: auto;
  }

/* Responsive changes */
@media (min-width: 1500px) {
  .modal {
    width: 60%;
  }
}

@media (max-width: 1500px) {
  .about p {
    max-width: 600px;
  }
}

@media (max-width: 1100px) {
  .about {
    display: flex;
    justify-content: center;
    padding: 45px 30px 60px;
  }
  .about p {
    width: 90%;
  }
  .about img {
    width: 250px;
    height: 350px;
    margin: 10px;
  }
}

@media (max-width: 1024px) {
  section {
    padding: 40px;
  }
  header {
    padding: 20px 40px;
  }
  .main-text h1 {
    font-size: 60px;
  }
  .about {
    padding: 100px 75px;
  }
  .portfolio .card {
    width: 90%;
    margin: 40px 0px;
  }
  .portfolio .card-content {
    padding: 30px;
  }
  .project-overview {
    flex-direction: column;
    align-items: center;
    padding: 75px;
  }
  .project-overview .main-text {
    margin: 0px;
  }
  .thumbnail img, #utk {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .project-overview .thumbnail {
    margin: 40px 0px 20px;
    max-width: 90%;
    flex-shrink: 1;
  }
}

@media (max-width: 868px) {
  .main {
    padding: 75px;
  }
  .main-text {
    margin: 50px 0px 0px;
  }
  .main-img {
    display: none;
  }
}

@media (max-width: 790px) {
  section {
    padding: 50px;
  }
  .title {
    font-size: 32px;
  }
  .about {
    padding: 90px 50px 80px;
    display: flex;
  }
  .quote {
    font-size: 30px;
    margin-bottom: 40px;
    max-width: 80%;
  }
  .skills .carousel {
    display: block !important;
    height: 750px;
  }
  .card-grid {
    display: none !important;
  }
  .skills .card {
    height: 650px;
  }
  .next-page {
    margin: 50px;
  }
  .card-header {
    padding: 15px;
  }
  .card-content {
    padding: 15px;
  }
  .portfolio .card-header h2 {
    font-size: 18px;
    padding-left: 70px;
    padding-top: 8px;
  }
  .portfolio .card-content {
    padding: 30px;
  }
  .project-details .carousel {
    margin: 60px 0;
  }
  .project-details .carousel-cell img {
    height: auto;
    max-height: 360px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    align-items: center;
  }
  header {
    padding: 25px 40px;
  }
  .header-menu {
    display: none !important;
  }
  .menu-symbol {
    display: block !important;
    color: white;
    cursor: pointer;
  }
  .poster img {
    width: 100%;
    height: auto;
  }
  footer {
    padding: 16px 30px;
  }
    footer p {
      font-size: 14px;
    }
}

@media (max-width: 600px) {
  header {
    padding: 16px 30px;
  }
  .header-menu {
    display: none !important;
  }
  .menu-symbol {
    display: block !important;
  }
  .project-summary {
    margin: 20px 5px;
  }
  .modal {
    width: 90vw;
    max-width: 95vw;
  }
  .project-details {
    padding: 40px;
  }
  .project-details h2, .project-details p {
    width: 100%;
    margin-left: 0;
  }
  .tech-stack table {
    width: 100%;
    font-size: 16px;
  }
  .social-media .fa-brands {
    font-size: 28px;
  }
}

@media (max-width: 445px) {
  section {
    padding: 30px 20px;
  }
  .main {
    padding: 30px;
  }
  .main:not(.project-overview) {
    padding: 30px 30px 50px;
  }
  .project-overview .main-text {
    margin: 50px 0px 0px;
  }
  .main-text h1 {
    margin: 50px 0px 10px;
  }
  .quote {
    font-size: 32px;
  }
  .about p {
    width: 100%;
    font-size: 18px;
    margin: 0px;
  }
  .about img {
    width: 225px;
    height: 275px;
    border-radius: 100px;
  }
  .section-title {
    font-size: 48px;
    margin-bottom: 50px;
  }
  .portfolio .card {
    width: 85%;
  }
  .circle-tags-list {
    row-gap: 0px;
  }
  .project-overview .thumbnail {
    min-width: 100%;
    margin: 20px 0px;
  }
  table {
    margin: 25px 0px 50px;
  }
  th, td {
    font-size: 16px;
    padding: 18px 20px;
  }
  .view-btn {
    font-size: 18px;
    padding: 15px 18px;
    gap: 8px;
  }
  footer {
    gap: 10px;
  }
  footer p {
    font-size: 9px;
    margin: 5px 0px;
  }
}